.hash_generator_container {
    margin-top: 100px;
    float: left;
    position:relative;
    list-style:none;
}
body {
  background: url(http://upload.wikimedia.org/wikipedia/commons/0/00/Coastal-rocks.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

