{% extends 'aplikacja_kliencka/base.html' %}

{% load staticfiles %}

{% block title %}Dodawanie zadania{% endblock %}
{% block body_block %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/register.css"/>

    <div class="container register_container">
        <div class="row pad-top">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> Dodaj zadanie </strong>
                    </div>
                    <div class="panel-body">

                    <form role="form" method="post" action=".">
                        {% csrf_token %}
                        {% if error_message %}
                             {% for key, value in error_message.items %}
                                 <p class="bg-danger" style = "height : 65px; text-align: center">
                                    <br><strong>{{ key }} : {{ value }}</strong>
                                 </p>
                             {% endfor %}
                        {% endif %}

                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-circle-o-notch"  ></i></span>
                            <input type="text" name="hash" class="form-control" placeholder="Hash" id="id_hash"
                                   minlength="32" maxlength="40" name="hash" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label for="id_algorithm">Algorytm:</label>
                             <select class="form-control" id="id_algorithm" name="algorithm">
                                <option value="sha1">SHA1</option>
                                <option value="md5">MD5</option>

                             </select>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-circle-o-notch"  ></i></span>
                            <input type="text" name="cluster" class="form-control" placeholder="Klaster" id="id_cluster"
                                   maxlength="30" name="cluster" type="text" required/>
                        </div>

                        <button type="submit" class="btn btn-success btn-sm dodaj">Dodaj</button>

                        <hr />Skorzystaj z generatora hashy!  <a href={% url "aplikacja_kliencka:hash_generator" %} >Hash Generator</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <script>
    $(document).on("click", ".dodaj", function(e) {
        var hash = $('input[name=hash]').val();
        var algorithm = $('select[name=algorithm]').val()
        var cluster = $('input[name=cluster]').val()
        var url = "/mpi_send/";

        if ((hash.length == 32 && algorithm == "md5") || (hash.length == 40 && algorithm == "sha1")) {

                    e.preventDefault();
                    $.ajax({
                        url: url,
                        dataType: "json",
                        type: "POST",
                        data: JSON.stringify({'hashes':[{'hash': hash, 'algorithm': algorithm}], 'cluster': cluster}),
                        success: function() {
                            window.location='/task_actual/'
                        }
                   })}

        else {
                window.location = '/add_task/'
                window.alert("Nieprawidłowy hash!");
             }
    });

    </script>
{% endblock %}