{% extends 'aplikacja_kliencka/base.html' %}

{% load staticfiles %}

{% block title %}Historia Zadań{% endblock %}
{% block content %}

    <script src="/static/jqGRID/js/i18n/grid.locale-pl.js" type="text/javascript"></script>
    <script src="/static/js/task_history.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/aplikacja_kliencka_grid_view.css">

    <div class="container-fluid aplikacja_kliencka_wrapper">
       <div class="row">
           <div class="col-lg-12">
               <p id="gridData" hidden="true">{{gridData}}</p>
                    <div align="center" class="aplikacja_kliencka_grid_wrapper">
                        <table id="task_history_tab"><tr><td></td></tr></table>
                        <div id="task_history_pager"></div>
                    </div>
            </div>
       </div>
    </div>

{% endblock %}